# renomeie este arquivo para .env 
# settings.py
# SECRET_KEY = os.environ.get('SECRET_KEY', 'INSECURE')
SECRET_KEY = 'sua chave django settings.py aqui' # noqa E501

ALLOWED_HOSTS = [*]


GMAIL_PASSWORD = 'gmail-password para envio form contato'

# 0 = False - 1 = True
DEBUG = 1

# Database settings
    # PostgreSql
    ENGINE = 'django.db.backends.postgresql_psycopg2'
    NAME = 'portfolio-site'
    USER = 'postgres'
    PASSWORD = 'senhaPostgres'
    PORT = '5432'
    HOST = '127.0.0.1'

    # Sqlite
    #'ENGINE': 'django.db.backends.sqlite3',
    #'NAME': BASE_DIR / 'db.sqlite3',



# Use esta chave secreta para comunicação entre seu site e o reCAPTCHA.
RECAPTCHA_KEY = 'sua chave recaptcha'

