{% load static %}
<!--================ Srart Brand Area =================-->
<section class="brand_area section_gap_top ">
   <div class="container">
      <div class="main_title">
         <h2>TECNOLOGIAS UTILIZADAS</h2>
      </div>
      <div class="row justify-content-center">
         <div class="col-lg-6">
            <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="single-brand-item d-table">
                     <div class="d-table-cell text-center">
                        <img src="{% static '/portapp/img/brands/html-5.png'%}" alt="HTML5">
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="single-brand-item d-table">
                     <div class="d-table-cell text-center">
                        <img src="{% static '/portapp/img/brands/css-3.png'%}" alt="CSS3">
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="single-brand-item d-table">
                     <div class="d-table-cell text-center">
                        <img src="{% static '/portapp/img/brands/js.png'%}" alt="Java Script">
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="single-brand-item d-table">
                     <div class="d-table-cell text-center">
                        <img src="{% static '/portapp/img/brands/django.png'%}" alt="Django">
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="single-brand-item d-table">
                     <div class="d-table-cell text-center">
                        <img src="{% static '/portapp/img/brands/python.png'%}" alt="Python">
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="single-brand-item d-table">
                     <div class="d-table-cell text-center">
                        <img src="{% static '/portapp/img/brands/bootstrap.png'%}" alt="Bootstrap">
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="single-brand-item d-table">
                     <div class="d-table-cell text-center">
                        <img src="{% static '/portapp/img/brands/jquery.png'%}" alt="JQuery">
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="single-brand-item d-table">
                     <div class="d-table-cell text-center">
                        <img src="{% static '/portapp/img/brands/visual_studio_code.png'%}" alt="Visual studio">
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="single-brand-item d-table">
                     <div class="d-table-cell text-center">
                        <img src="{% static '/portapp/img/brands/react.png'%}" alt="React">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-lg-2 col-lg-4 col-md-6">
            <div class="client-info">
               <div class="d-flex mb-50">
                  <span class="lage">+15</span>
                  <span class="smll">Anos de experiência em TI</span>
               </div>
               <div class="call-now d-flex">
                  <div>
                     <a href="{% url 'portapp:contato' %}" role="button" target="_blank">
                        <img src="{% static '/portapp/img/brands/gmail.png'%}" width="90"  alt="Gmail">
                     </a>
                     <a href="{% url 'portapp:contato' %}" role="button">
                        <span class="smll">contato</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--================ End Brand Area =================-->