{% load static %}
<!--================ Start Features Area =================-->
<section class="features_area section_gap_top ">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-8 text-center">
            <div class="main_title">
               <h2>novos desafios... novas soluções</h2>
               <p>
                  O mercado de Tecnologia está em constante atualização. E seus profissionais precisam estar sempre
                  atualizados com as melhores ferramentas e processos,
                  para entregar software de qualidade dentro de prazos realistas e com orçamento cada vez mais reduzido.
               </p>
            </div>
         </div>
      </div>
      <div class="row feature_inner">
         <div class="col-lg-3 col-md-6">
            <div class="feature_item">
               <img src="{% static '/portapp/img/services/s1.png'%}" alt="">
               <h4>Desenvolvimento Web</h4>
               <p>Desenvolvimento e manutenção de aplicações Web.</p>
            </div>
         </div>
         <div class="col-lg-3 col-md-6">
            <div class="feature_item">
               <img src="{% static '/portapp/img/services/s2.png'%}" alt="">
               <h4>Trabalho em equipe</h4>
               <p>Trabalho em time, colaboração, entrosamento e comunicação.</p>
            </div>
         </div>
         <div class="col-lg-3 col-md-6">
            <div class="feature_item">
               <img src="{% static '/portapp/img/services/s3.png'%}" alt="">
               <h4>Prazo</h4>
               <p>Foco na meta, entendendo a necessidade do cliente. Solucionando com melhoria contínua.</p>
            </div>
         </div>
         <div class="col-lg-3 col-md-6">
            <div class="feature_item">
               <img src="{% static '/portapp/img/services/s4.png'%}" alt="">
               <h4>Foco na entrega</h4>
               <p>Gerenciamento projetos para garantir a entrega com qualidade dentro do prazo.</p>
            </div>
         </div>
      </div>
   </div>
</section>
<!--================ End Features Area =================-->