{% load static %}

<!--================Start Portfolio Details Area =================-->
<section class="portfolio_details_area section_gap">

   <div class="container">
   <div class="row">


      <div class="col-8 col-lg-4 mb-4">

         <div class="card" >
            <div class="card-header">
               <h5 class="card-titletext-uppercase">{{ aplicativo.titulo}}</h5>
            </div>
            <div class="card-body">
               <p class="card-text">{{ aplicativo.descricao|safe }}</p>
            </div>
            <img class="card-img-top" src="{{ aplicativo.img_portfolio.url }}" alt="Card image cap">
            <div class="card-footer text-muted">
               Código fonte do aplicativo, e mais informações técnicas. <br>
               {% if aplicativo.link_github %}
               <a href="{{ aplicativo.link_github}}" class="btn btn-primary btn-lg active mt-3" role="button"
                  aria-pressed="true">Repositório Git</a>
               {% endif %}
            </div>
         </div>
      </div>






      <div class="col-12 col-lg-8">
         <div class="card">

            <div class="card-body">
               <h5 class="card-titletext-uppercase">{{ aplicativo.titulo}}</h5>
               <p class="card-text">{{ aplicativo.detalhe|safe }}</p>
               <a href="{%url aplicativo.link_como_texto %}" class="btn btn-primary btn-lg active" role="button"
                  aria-pressed="true">Demonstração</a>
            </div>

         </div>
      </div>



   </div>
   </div>



























   </div>
</section>
<!--================End Portfolio Details Area =================-->