{% load static %}
<!--================ Start Testimonial Area =================-->
<div class="testimonial_area">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-8 text-center">
            <div class="main_title">
               <h2>testemunhos</h2>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="testi_slider owl-carousel">
            <div class="testi_item">
               <div class="row">
                  <div class="col-lg-12">
                     <img src="{% static '/portapp/img/testimonials/***REMOVED***.jpg'%}" alt="***REMOVED***">
                  </div>
                  <div class="col-lg-12">
                     <div class="testi_text">
                        <h4>***REMOVED***</h4>
                        <h5>Fundador e Diretor Geral na ***REMOVED***</h5>
                        <p>"Robinson liderou a implantação do ERP com visão sistêmica e abrangente de todo o processo.
                           Demonstrou durante todo processo conhecimento de negócios e do fluxo de trabalho necessários
                           para a implantação de um ERP.
                           Possui alto nível de discernimento do que é plausível em tecnologia da informação e grau de
                           comprometimento elevadíssimo para o sucesso dos trabalhos que gestiona." De LinkedIn.com
                        </p>
                     </div>
                  </div>
               </div>
            </div>

            <div class="testi_item">
               <div class="row">
                  <div class="col-lg-4">
                     <img src="{% static '/portapp/img/testimonials/empty.jpg'%}" alt="">
                  </div>
                  <div class="col-lg-8">
                     <div class="testi_text">
                        <h4>Anônimo</h4>
                        <p>O que você quer nem sempre é o que você precisa.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--================ End Testimonial Area =================-->