{% load static %}
<!--================ Start Testimonial Area =================-->
<div class="testimonial_area">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-8 text-center">
            <div class="main_title">
               <h2>testemunhos</h2>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="testi_slider owl-carousel">
         {% for testemunho in testemunhos%}
            <div class="testi_item">
               <div class="row">
                  <div class="col-lg-12">
                     <img src="{{testemunho.img_prev.url}}" alt="Ricardo Perez">
                  </div>
                  <div class="col-lg-12">
                     <div class="testi_text">
                        <h4>{{testemunho.testemunho_nome}}</h4>
                        <h5>{{testemunho.titulo}}</h5>
                           {{testemunho.testemunho}}
                        <p>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            
               
            {% endfor%}
         </div>
      </div>
   </div>
</div>
<!--================ End Testimonial Area =================-->