{% load static %}
	<!--================ Start About Us Area =================-->
    <section class="about_area section_gap_top">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg-4">
                    <div class="about_img">
                        <img class="" src="{% static '/portapp/img/about-us.png'%}" alt="">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="main_title text-left">
                        <h2>DEIXE ME APRESENTAR</h2>
                        <p>
                            Meu nome é Robinson Enedino, sou Bacharel em Engenharia Elétrica de Computação.
                            
                            Trabalho há mais de 15 anos na solução de problemas de Tecnologia. Focado na linguagem Python, e o poderoso framework Django.
                            
                            JavasCript com a biblioteca jQuery também são parte de minha bagagem de conhecimentos técnicos.
                            
                            Atualmente focado em lapidar meus conhecimentos em Django, continuamente atualizando minhas habilidades com novas tecnologias como React Js, e Next Js.
                        
                            Busco oportunidades para resolver problemas, criar novos produtos com as melhores e mais adequadas tecnologias do mercado.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!--================ End About Us Area =================-->