<footer class="bg-primary text-center text-white">

    <div class="container p-4 pb-0">

      <section class="pb-0" >

        <a class="btn btn-outline-light btn-floating mx-5 rounded-circle" href="mailto:robinsonbrz@gmail.com"  target="_blank" role="button"
          ><i class="fab fa-google" ></i
        ></a>
    
        <a class="btn btn-outline-light btn-floating mx-5 rounded-circle" href="https://www.linkedin.com/in/robinsonbrz"  target="_blank" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <a class="btn btn-outline-light btn-floating mx-5 rounded-circle" href="https://github.com/robinsonbrz"  target="_blank" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <i class="fa-solid fa-envelopes"></i>
    </div>

    <div class="p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-left text-dark" href="https://www.djangoproject.com/"  target="_blank">Powered by Django</a>
      <span class="text-right" >coded by Robinson</span>


    </div>

  </footer>