{% load static %}

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="{% static '/portapp/img/favicon.png'%}" type="image/png">
	<title>{% block titulo %}{% endblock titulo %} Portfolio Robinson</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static '/portapp/css/bootstrap.css'%}">
	<link rel="stylesheet" href="{% static '/portapp/vendors/linericon/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<!--<link rel="stylesheet" href="{% static '/portapp/css/font-awesome.min.css'%}"> -->
	<link rel="stylesheet" href="{% static '/portapp/vendors/owl-carousel/owl.carousel.min.css'%}">
	<link rel="stylesheet" href="{% static '/portapp/css/magnific-popup.css'%}">
	<link rel="stylesheet" href="{% static '/portapp/vendors/nice-select/css/nice-select.css'%}">
	<!-- main css -->
	<link rel="stylesheet" href="{% static '/portapp/css/style.css'%}">
 
</head>
