{% load static %}
	<!--================ Start Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="banner_content">
                            <h1 class="text-uppercase  mt-5">ROBINSON ENEDINO</h1>
                            <h5 class="text-uppercase">ENGENHEIRO DE COMPUTAÇÃO<br>DESENVOLVEDOR FULL STACK PYTHON</h5>
                            <div class="d-flex align-items-center">
                                <a class="btn-outline-light btn-floating rounded-circle icon-socials" href="mailto:robinsonbrz@gmail.com" target="_blank" role="button">
                                    <i class="fab fa-google fa-3x p-4"  ></i>
                                </a>
                                <a class="btn-outline-light btn-floating rounded-circle icon-socials" href="https://www.linkedin.com/in/robinsonbrz" target="_blank" role="button">
                                    <i class="fab fa-linkedin-in fa-3x p-4" ></i>
                                </a>
                                <a class=" btn-outline-light btn-floating rounded-circle icon-socials" href="https://github.com/robinsonbrz" target="_blank" role="button">
                                    <i class="fab fa-github fa-3x p-4"  ></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="home_right_img">
                            <img class="" src="{% static '/portapp/img/banner/home-right.png'%}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!--================ End Home Banner Area =================-->