{% load static %}



	<!--================Start Portfolio Details Area =================-->
	<section class="portfolio_details_area section_gap">
        <div class="container">
            <div class="portfolio_details_inner">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="left_img">
                            <img class="img-fluid" src="{% static '/portapp/img/portfolio/portfolio-details.jpg'%}" alt="">
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-5">
                        <div class="portfolio_right_text mt-30">
                            <h4 class="text-uppercase">{{ aplicativo.titulo}}</h4>
                            <p>
                                {{ aplicativo.descricao}}
                            </p>
                            <ul class="list">
                                <li><span>Rating</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i></li>
                                <li><span>Client</span>: colorlib</li>
                                <li><span>Website</span>: colorlib.com</li>
                                <li><span>Completed</span>: 17 Aug 2018</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {{ aplicativo.detalhe}}
            </div>
        </div>
    </section>
    <!--================End Portfolio Details Area =================-->
    
