{% load static %}
	<!--================Start Portfolio Area =================-->
	<section class="portfolio_area section_gap_top " id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title text-left">
						<h2>Exemplos de<br>
							trabalhos concluídos </h2>
					</div>
				</div>
			</div>
			<div class="filters portfolio-filter">
				<ul>
					<li class="active" data-filter="*">Todos</li>
					<li data-filter=".python">python</li>
					<li data-filter=".jquery">jquery</li>
					<li data-filter=".javascript">javascript</li>
					<li data-filter=".bootstrap">bootstrap</li>
					<li data-filter=".django">django</li>
				</ul>
			</div>

			<div class="filters-content">
				<div class="row portfolio-grid justify-content-center">
					<div class="col-lg-4 col-md-6 all python jquery javascript bootstrap django">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/p1.jpg'%}" alt="">
								<div class="overlay"></div>
								<a href="{% static '/portapp/img/portfolio/p1.jpg'%}"  class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">minimal design</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6  all python jquery javascript bootstrap django">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/p2.jpg'%}" alt="">
								<div class="overlay"></div>
								<a href="{% static '/portapp/img/portfolio/p2.jpg'%}"  class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">Paint wall</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6  all python jquery javascript bootstrap django">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/p3.jpg'%}" alt="">
								<div class="overlay"></div>
								<a href="{% static '/portapp/img/portfolio/p3.jpg'%}"  class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">female light</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6  all python jquery javascript bootstrap django">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/p4.jpg'%}" alt="">
								<div class="overlay"></div>
								<a href="{% static '/portapp/img/portfolio/p4.jpg'%}" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">fourth air</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6  all python jquery javascript bootstrap django">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/p6.jpg'%}" alt="">
								<div class="overlay"></div>
								<a href="{% static '/portapp/img/portfolio/p6.jpg'%}" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">together sign</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all python jquery javascript bootstrap django">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/p5.jpg'%}" alt="">
								<div class="overlay"></div>
								<a href="{% static '/portapp/img/portfolio/p5.jpg'%}" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">multiply fowl</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all python jquery javascript bootstrap django">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/p7.jpg'%}" alt="">
								<div class="overlay"></div>
								<a href="{% static '/portapp/img/portfolio/p7.jpg'%}" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">green heaven</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all python jquery javascript bootstrap django">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/p8.jpg'%}" alt="">
								<div class="overlay"></div>
								<a href="{% static '/portapp/img/portfolio/p8.jpg'%}" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4>fly male</h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all python jquery javascript bootstrap django">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/p9.jpg'%}" alt="">
								<div class="overlay"></div>
								<a href="{% static '/portapp/img/portfolio/p9.jpg'%}" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">season face</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Portfolio Area =================-->