{% extends 'todoapp/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Login</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Login">
    </form>
    <p>Ainda não tem uma conta? <a href="{% url 'todoapp:register' %}">Registre-se</a></p>
    <br><br>
    <h3>Teste as funcionalidades como um usuário teste</h3>

    <p><strong>usuário:</strong>testuser2</p>
    <p><strong>Senha: </strong>t3stU5er@</p>
</div>


    
<script>
    $(function () {
        // alert("carregado");
        $('#id_username').attr('autocomplete', 'off');
    })
</script>




{% endblock content %}