{% extends 'base_portapp.html' %}
{% load static %}
{%block titulo%}Expertise | {%endblock%}

{%block conteudo%}



    <!--================ Start Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Expertise</h2>
                    <div class="page_link">
                        <a href="{% url 'portapp:inicio' %}">Início</a>
                        <a href="{% url 'portapp:expertise' %}">Expertise</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Banner Area =================-->

	{% include 'parciais/_brand.html' %}
	{% include 'parciais/_expertise.html' %}
	{% include 'parciais/_testimonials.html' %}
	{% include 'parciais/_newsletter.html' %}

{%endblock conteudo%}