{% load static %}
<!doctype html>
<html lang="pt-BR">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static '/portapp/img/favicon.png'%}" type="image/png">
    <title>Robinson | Portfolio </title>


    <link rel="stylesheet" href="{% static '/portapp/css/bootstrap.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <link rel="stylesheet" href="{% static '/portapp/vendors/owl-carousel/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static '/portapp/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static '/portapp/vendors/nice-select/css/nice-select.css'%}">
    <link rel="stylesheet" href="{% static '/portapp/css/style.css'%}">
    <style>
        .shade-hover:hover {
            background-color: #4758dc;
            color: #eee;
        }

        .shade-hover {
            border-radius: 10px;
        }
    </style>


</head>

<body>

    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">

                    <a class="navbar-brand logo_h" href="./"><img src="{% static '/portapp/img/brand.png'%}"
                            alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-end">
                            <li class="nav-item active"><a class="nav-link" href="./">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Portfolio</a></li>




                            <li class="nav-item submenu dropdown">
                                <a href="./todoapp/" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="./lista/">Agenda App</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="./todoapp/">To Do App</a></li>
                                </ul>
                            </li>





                            <li class="nav-item submenu dropdown">
                                <a href="index.html#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Blog Details</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>


    <section class="home_banner_area">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="banner_content">
                            <h3 class="text-uppercase">OLÁ</h3>
                            <h1 class="text-uppercase">SOU ROBINSON ENEDINO</h1>
                            <h5 class="text-uppercase">DESENVOLVEDOR DE WEB</h5>
                            <div class="d-flex align-items-center">
                                <a class="primary_btn" href="index.html#"><span>ME CONTRATE</span></a>
                                <a class="primary_btn tr-bg" href="index.html#"><span>CURRÍCULO</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="home_right_img">
                            <img class="" src="{% static '/portapp/img/dev_typing.png'%}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="about_area section_gap">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg-5">
                    <div class="about_img">
                        <img class="" src="{% static '/portapp/img/working_01.png'%}" alt="">
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-5">
                    <div class="main_title text-left">
                        <h2>DEIXE <br>
                            ME APRESENTAR</h2>
                        <p>
                            Whose given. Were gathered. There first subdue greater. Bearing you Whales heaven
                            midst their. Beast creepeth. Fish days.
                        </p>
                        <p>
                            Is give may shall likeness made yielding spirit a itself together created after sea
                            is in beast beginning signs open god you're gathering whose gathered cattle let.
                        </p>
                        <a class="primary_btn" href="index.html#"><span>Download CV</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="brand_area section_gap_bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static '/portapp/img/brands/html-5.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static '/portapp/img/brands/css-3.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static '/portapp/img/brands/js.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static '/portapp/img/brands/django.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static '/portapp/img/brands/python.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static '/portapp/img/brands/bootstrap.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static '/portapp/img/brands/jquery.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static '/portapp/img/brands/visual_studio_code.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static '/portapp/img/brands/react.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-lg-2 col-lg-4 col-md-6">
                    <div class="client-info">
                        <div class="d-flex mb-50">
                            <span class="lage">+15</span>
                            <span class="smll">Anos de experiência em TI</span>
                        </div>
                        <div class="call-now d-flex">






                            <div>

                                <a href="mailto:robinsonbrz@gmail.com" target="_blank" role="button">
                                    <img src="{% static '/portapp/img/brands/gmail.png'%}"
                                        href="mailto:robinsonbrz@gmail.com" width="90px" target="_blank" alt="">
                                </a>
                                <a href="mailto:robinsonbrz@gmail.com" target="_blank" role="button">
                                    <span class="smll">e-mail</span>
                                </a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="features_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="main_title">
                        <h2>service offers </h2>
                        <p>
                            Is give may shall likeness made yielding spirit a itself togeth created
                            after sea <br> is in beast beginning signs open god you're gathering ithe
                        </p>
                    </div>
                </div>
            </div>
            <div class="row feature_inner">
                <div class="col-lg-3 col-md-6">
                    <div class="feature_item">
                        <img src="{% static '/portapp/img/services/xs1.png'%}" alt="">
                        <h4>Wp developing</h4>
                        <p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature_item">
                        <img src="{% static '/portapp/img/services/xs2.png'%}" alt="">
                        <h4>UI/ux design</h4>
                        <p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature_item">
                        <img src="{% static '/portapp/img/services/xs3.png'%}" alt="">
                        <h4>Web design</h4>
                        <p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature_item">
                        <img src="{% static '/portapp/img/services/xs4.png'%}" alt="">
                        <h4>seo optimize</h4>
                        <p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="portfolio_area" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main_title text-left">
                        <h2>TRABALHO DE QUALIDADE<br>
                            PROJETOS RECENTEMENTE CONCLUÍDOS</h2>
                    </div>
                </div>
            </div>
            <div class="filters portfolio-filter">
                <ul>
                    <li class="active" data-filter="*">all</li>
                    <li data-filter=".popular">popular</li>
                    <li data-filter=".latest"> latest</li>
                    <li data-filter=".following">following</li>
                    <li data-filter=".upcoming">upcoming</li>
                </ul>
            </div>
            <div class="filters-content">
                <div class="row portfolio-grid justify-content-center">
                    <div class="col-lg-4 col-md-6 all latest">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/xp1.jpg'%}" alt="">
                                <div class="overlay"></div>
                                <a href="./img/portfolio/p1.jpg" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4><a href="#">minimal
                                        design</a></h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 all popular">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/xp2.jpg'%}" alt="">
                                <div class="overlay"></div>
                                <a href="./img/portfolio/p2.jpg" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4><a href="#">Paint
                                        wall</a></h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 all latest">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/xp3.jpg'%}" alt="">
                                <div class="overlay"></div>
                                <a href="./img/portfolio/p3.jpg" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4><a href="#">female
                                        light</a></h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 all popular">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/xp4.jpg'%}" alt="">
                                <div class="overlay"></div>
                                <a href="./img/portfolio/p4.jpg" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4><a href="#">fourth
                                        air</a></h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 all following">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/xp6.jpg'%}" alt="">
                                <div class="overlay"></div>
                                <a href="./img/portfolio/p5.jpg" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4><a href="#">together
                                        sign</a></h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 all upcoming">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/xp5.jpg'%}" alt="">
                                <div class="overlay"></div>
                                <a href="./img/portfolio/p6.jpg" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4><a href="#">multiply
                                        fowl</a></h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 all upcoming following">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/xp7.jpg'%}" alt="">
                                <div class="overlay"></div>
                                <a href="./img/portfolio/p7.jpg" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4><a href="#">green
                                        heaven</a></h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 all following">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/xp8.jpg'%}" alt="">
                                <div class="overlay"></div>
                                <a href="./img/portfolio/p8.jpg" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4>fly male</h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 all upcoming">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static '/portapp/img/portfolio/xp9.jpg'%}" alt="">
                                <div class="overlay"></div>
                                <a href="./img/portfolio/p9.jpg" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4><a href="#">season
                                        face</a></h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--######################################-->


    <div class="testimonial_area section_gap_bottom">
        <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
        <div class="main_title">
        <h2>client say about me</h2>
        <p>Is give may shall likeness made yielding spirit a itself togeth created after sea is in beast <br>
        beginning signs open god you're gathering ithe</p>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="testi_slider owl-carousel">
        <div class="testi_item">
        <div class="row">
        <div class="col-lg-4">
        <img src="{% static '/portapp/img/testimonials/xt1.jpg'%}" alt="">
        
        </div>
        <div class="col-lg-8">
        <div class="testi_text">
        <h4>Elite Martin</h4>
        <p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        </div>
        </div>
        </div>
        </div>
        <div class="testi_item">
        <div class="row">
        <div class="col-lg-4">
        <img src="{% static '/portapp/img/testimonials/xt2.jpg'%}" alt="">
        </div>
        <div class="col-lg-8">
        <div class="testi_text">
        <h4>Davil Saden</h4>
        <p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        </div>
        </div>
        </div>
        </div>
        <div class="testi_item">
        <div class="row">
        <div class="col-lg-4">
        <img src="{% static '/portapp/img/testimonials/xt1.jpg'%}" alt="">
        </div>
        <div class="col-lg-8">
        <div class="testi_text">
        <h4>Elite Martin</h4>
        <p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        </div>
        </div>
        </div>
        </div>
        <div class="testi_item">
        <div class="row">
        <div class="col-lg-4">
        <img src="{% static '/portapp/img/testimonials/xt2.jpg'%}" alt="">
        </div>
        <div class="col-lg-8">
        <div class="testi_text">
        <h4>Davil Saden</h4>
        <p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        </div>
        </div>
        </div>
        </div>
        <div class="testi_item">
        <div class="row">
        <div class="col-lg-4">
        <img src="{% static '/portapp/img/testimonials/xt1.jpg'%}" alt="">
        </div>
        <div class="col-lg-8">
        <div class="testi_text">
        <h4>Elite Martin</h4>
        <p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        </div>
        </div>
        </div>
        </div>
        <div class="testi_item">
        <div class="row">
        <div class="col-lg-4">
        <img src="{% static '/portapp/img/testimonials/xt2.jpg'%}" alt="">    
        </div>
        <div class="col-lg-8">
        <div class="testi_text">
        <h4>Davil Saden</h4>
        <p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
<!--######################################-->


    <section class="newsletter_area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12">
                    <div class="subscription_box text-center">
                        <h2 class="text-uppercase text-white">me contate</h2>
                        <p class="text-white">
                            RECEBA INFORMAÇÕES DIRETO EM SEU EMAIL.
                        </p>
                        <div class="subcribe-form" id="mc_embed_signup">
                            <form target="_blank" novalidate action="{% static '/portapp/img/brand.png'%}"
                                class="subscription relative">
                                <input name="EMAIL" placeholder="Email" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Email'" required type="email">
                                <div style="position: absolute; left: -5000px;">
                                    <input name="rrr" tabindex="-1" value="" type="text">
                                </div>
                                <button class="primary-btn hover d-inline">conecte-se</button>
                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="footer_top flex-column">
                        <div class="footer_logo">
                            <a href="index.html#">
                                <img src="{% static '/portapp/img/brand.png'%}" alt="">
                            </a>
                        </div>
                        <div class="footer_social">
                            <a class="btn btn-outline-light btn-floating mx-5 rounded-circle"
                                href="mailto:robinsonbrz@gmail.com" target="_blank" role="button"><i
                                    class="fab fa-google"></i></a>
                            <a class="btn btn-outline-light btn-floating mx-5 rounded-circle"
                                href="https://www.linkedin.com/in/robinsonbrz" target="_blank" role="button"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light btn-floating mx-5 " href="https://github.com/robinsonbrz"
                                target="_blank" role="button"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer_bottom justify-content-center">
                <p class="col-lg-8 col-sm-12 footer-text">
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> Direitos reservados | by <a href="#" target="_blank">Robinson</a>
                </p>
            </div>
        </div>
    </footer>

    <script src="{% static '/portapp/js/jquery-3.2.1.min.js'%}"></script>
    <script src="{% static '/portapp/js/popper.js'%}"></script>
    <script src="{% static '/portapp/js/bootstrap.min.js'%}"></script>
    <script src="{% static '/portapp/js/stellar.js'%}"></script>

    <script src="{% static '/portapp/js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static '/portapp/vendors/nice-select/js/jquery.nice-select.min.js'%}"></script>
    <script src="{% static '/portapp/vendors/isotope/imagesloaded.pkgd.min.js'%}"></script>
    <script src="{% static '/portapp/vendors/isotope/isotope-min.js'%}"></script>



    <script src="{% static '/portapp/vendors/owl-carousel/owl.carousel.min.js'%}"></script>
    <script src="{% static '/portapp/js/jquery.ajaxchimp.min.js'%}"></script>
    <script src="{% static '/portapp/js/mail-script.js'%}"></script>
    <!--   <script src="{% static '/portapp/js/gmaps.min.js'%}"></script>  --> 

    <script src="{% static '/portapp/js/theme.js'%}"></script>

</body>

</html>