{% load static %}
<!doctype html>
<html lang="pt-BR">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static '/portapp/img/favicon.png'%}" type="image/png">
    <title>Robinson | Portfolio </title>


    <link rel="stylesheet" href="{% static '/portapp/css/bootstrap.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="{% static '/portapp/vendors/owl-carousel/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static '/portapp/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static '/portapp/vendors/nice-select/css/nice-select.css'%}">
    <link rel="stylesheet" href="{% static '/portapp/css/style.css'%}">
    <style>
        .shade-hover:hover {
            background-color: #4758dc;
            color: #eee;
        }

        .shade-hover {
            border-radius: 10px;
        }
    </style>


</head>

<body>

    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">

                    <a class="navbar-brand logo_h" href="./"><img src="{% static '/portapp/img/brand.png'%}" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-end">
                            <li class="nav-item active"><a class="nav-link" href="./">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Portfolio</a></li>




                            <li class="nav-item submenu dropdown">
                                <a href="./todoapp/" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="./lista/">Agenda App</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="./todoapp/">To Do App</a></li>
                                </ul>
                            </li>





                            <li class="nav-item submenu dropdown">
                                <a href="index.html#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Blog Details</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>


    <footer class="footer_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="footer_top flex-column">
                        <div class="footer_logo">
                            <a href="index.html#">
                                <img src="{% static '/portapp/img/brand.png'%}" alt="">
                            </a>
                        </div>
                        <div class="footer_social">
                            <a class="btn btn-outline-light btn-floating mx-5 rounded-circle"
                                href="mailto:robinsonbrz@gmail.com" target="_blank" role="button"><i
                                    class="fab fa-google"></i></a>
                            <a class="btn btn-outline-light btn-floating mx-5 rounded-circle"
                                href="https://www.linkedin.com/in/robinsonbrz" target="_blank" role="button"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light btn-floating mx-5 " href="https://github.com/robinsonbrz"
                                target="_blank" role="button"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer_bottom justify-content-center">
                <p class="col-lg-8 col-sm-12 footer-text">
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> Direitos reservados | by <a href="#" target="_blank">Robinson</a>
                </p>
            </div>
        </div>
    </footer>

    <script src="{% static '/portapp/js/jquery-3.2.1.min.js'%}"></script>
    <script src="{% static '/portapp/js/popper.js'%}"></script>
    <script src="{% static '/portapp/js/bootstrap.min.js'%}"></script>
    <script src="{% static '/portapp/js/stellar.js'%}"></script>

    <script src="{% static '/portapp/js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static '/portapp/vendors/nice-select/js/jquery.nice-select.min.js'%}"></script>
    <script src="{% static '/portapp/vendors/isotope/imagesloaded.pkgd.min.js'%}"></script>
    <script src="{% static '/portapp/vendors/isotope/isotope-min.js'%}"></script>



    <script src="{% static '/portapp/vendors/owl-carousel/owl.carousel.min.js'%}"></script>
    <script src="{% static '/portapp/js/jquery.ajaxchimp.min.js'%}"></script>
    <script src="{% static '/portapp/js/mail-script.js'%}"></script>
    <!--   <script src="{% static '/portapp/js/gmaps.min.js'%}"></script>  -->

    <script src="{% static '/portapp/js/theme.js'%}"></script>

</body>

</html>