{% load static %}
<!doctype html>
<html lang="pt-BR">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static '/portapp/img/favicon.png'%}" type="image/png">
    <title>Robinson | Portfolio </title>


    <link rel="stylesheet" href="{% static '/portapp/css/bootstrap.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="{% static '/portapp/vendors/owl-carousel/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static '/portapp/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static '/portapp/vendors/nice-select/css/nice-select.css'%}">
    <link rel="stylesheet" href="{% static '/portapp/css/style.css'%}">
    <style>
        .shade-hover:hover {
            background-color: #4758dc;
            color: #eee;
        }

        .shade-hover {
            border-radius: 10px;
        }
    </style>


</head>

<body>




    <div class="testimonial_area section_gap_bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="main_title">
                        <h2>testemunhos</h2>
                        <p>Testemunho de </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testi_slider owl-carousel">
                    <div class="testi_item">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="{% static '/portapp/img/testimonials/xt1.jpg'%}" alt="">

                            </div>
                            <div class="col-lg-8">
                                <div class="testi_text">
                                    <h4>Elite Martin</h4>
                                    <p>Him, made can't called over won't there on divide there male fish beast own his
                                        day third seed sixth seas unto. Saw from </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi_item">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="{% static '/portapp/img/testimonials/xt2.jpg'%}" alt="">
                            </div>
                            <div class="col-lg-8">
                                <div class="testi_text">
                                    <h4>Davil Saden</h4>
                                    <p>Him, made can't called over won't there on divide there male fish beast own his
                                        day third seed sixth seas unto. Saw from </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi_item">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="{% static '/portapp/img/testimonials/xt1.jpg'%}" alt="">
                            </div>
                            <div class="col-lg-8">
                                <div class="testi_text">
                                    <h4>Elite Martin</h4>
                                    <p>Him, made can't called over won't there on divide there male fish beast own his
                                        day third seed sixth seas unto. Saw from </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi_item">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="{% static '/portapp/img/testimonials/xt2.jpg'%}" alt="">
                            </div>
                            <div class="col-lg-8">
                                <div class="testi_text">
                                    <h4>Davil Saden</h4>
                                    <p>Him, made can't called over won't there on divide there male fish beast own his
                                        day third seed sixth seas unto. Saw from </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi_item">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="{% static '/portapp/img/testimonials/xt1.jpg'%}" alt="">
                            </div>
                            <div class="col-lg-8">
                                <div class="testi_text">
                                    <h4>Elite Martin</h4>
                                    <p>Him, made can't called over won't there on divide there male fish beast own his
                                        day third seed sixth seas unto. Saw from </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi_item">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="{% static '/portapp/img/testimonials/xt2.jpg'%}" alt="">
                            </div>
                            <div class="col-lg-8">
                                <div class="testi_text">
                                    <h4>Davil Saden</h4>
                                    <p>Him, made can't called over won't there on divide there male fish beast own his
                                        day third seed sixth seas unto. Saw from </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--######################################-->








    <footer class="footer_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="footer_top flex-column">
                        <div class="footer_logo">
                            <a href="index.html#">
                                <img src="{% static '/portapp/img/brand.png'%}" alt="">
                            </a>
                        </div>
                        <div class="footer_social">
                            <a class="btn btn-outline-light btn-floating mx-5 rounded-circle"
                                href="mailto:robinsonbrz@gmail.com" target="_blank" role="button"><i
                                    class="fab fa-google"></i></a>
                            <a class="btn btn-outline-light btn-floating mx-5 rounded-circle"
                                href="https://www.linkedin.com/in/robinsonbrz" target="_blank" role="button"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light btn-floating mx-5 " href="https://github.com/robinsonbrz"
                                target="_blank" role="button"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer_bottom justify-content-center">
                <p class="col-lg-8 col-sm-12 footer-text">
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> Direitos reservados | by <a href="#" target="_blank">Robinson</a>
                </p>
            </div>
        </div>
    </footer>

    <script src="{% static '/portapp/js/jquery-3.2.1.min.js'%}"></script>
    <script src="{% static '/portapp/js/popper.js'%}"></script>
    <script src="{% static '/portapp/js/bootstrap.min.js'%}"></script>
    <script src="{% static '/portapp/js/stellar.js'%}"></script>

    <script src="{% static '/portapp/js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static '/portapp/vendors/nice-select/js/jquery.nice-select.min.js'%}"></script>
    <script src="{% static '/portapp/vendors/isotope/imagesloaded.pkgd.min.js'%}"></script>
    <script src="{% static '/portapp/vendors/isotope/isotope-min.js'%}"></script>



    <script src="{% static '/portapp/vendors/owl-carousel/owl.carousel.min.js'%}"></script>
    <script src="{% static '/portapp/js/jquery.ajaxchimp.min.js'%}"></script>
    <script src="{% static '/portapp/js/mail-script.js'%}"></script>
    <!--   <script src="{% static '/portapp/js/gmaps.min.js'%}"></script>  -->

    <script src="{% static '/portapp/js/theme.js'%}"></script>

</body>

</html>