<footer class="bg-primary text-center text-white">

   <div class="container p-4 pb-0">

      <section class="pb-0">

         <a class="btn btn-outline-light btn-floating mx-4 rounded-circle" href="{% url 'portapp:contato' %}"
            role="button">
            <i class="fab fa-google"></i>
         </a>

         <a class="btn btn-outline-light btn-floating mx-4 rounded-circle"
            href="https://www.linkedin.com/in/robinsonbrz" target="_blank" role="button"><i
               class="fab fa-linkedin-in"></i></a>
         <a class="btn btn-outline-light btn-floating mx-4 rounded-circle" href="https://github.com/robinsonbrz"
            target="_blank" role="button"><i class="fab fa-github"></i></a>
      </section>
   </div>

   <div class="p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <div class="row">
         <div class="col">
            © 2022 Copyright:
            <a class="text-left text-light" href="https://www.enedino.com.br">
               Robinson Enedino
            </a>
         </div>
         <div class="col">
            <a class="text-center text-light" href="https://www.djangoproject.com/" target="_blank">Powered by
               Django</a>
         </div>
      </div>
   </div>
</footer>